body{
  background: linear-gradient(#68eacc);
  height: 100vh;
}

.todo{
  background-color: aliceblue;
  text-align: center;
  position: relative;
  height: auto;
  width: 350px;
  margin: 0 auto;
  top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  margin-top: 10px;
}